body{
    margin: 0;
    font-family: 'Noto Sans'; 
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 0px 9px 3px rgba(0, 0, 0, 0.16), 0 0px 9px 3px rgba(0, 0, 0, 0.17)
}
h1{
    margin: 0;
}
.title{
    color: white;
    background-color: black;
    padding-left: 5px;
}
.settings{
    display: flex;
    color: white;
    background-color: black;
}
.menu ul ul{
    display: none;
    margin: 0;
    color: black;
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: Green;
    color: white;
    border-radius: 5px;
}
.menu li:hover {
    background-color: Black;
    color: white;
}
article{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 2px;
}
footer {
    display: flex;
    width: 100%;
    background-color: black;
    color: white;
    justify-content: space-around;
    text-align: center;
}
.dropdown-button {
    position: fixed;
    flex-direction: column;
    display: none;
    background-color: white;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,.2);
    
}
.dropdown-box {
    display: block;
    right: 0;
    background-color: green;
    color: white;
    padding: 5px;
}
.dropdown-box:hover .dropdown-button{
    display: flex;
}
.table5 {
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.table {
    display: flex;
}
.table11 {
    display: flex;
    flex-direction: column;
    flex: 1;
    border: 2px;
    border-style: solid;
    padding: 5px 3px;
    margin: 3px;
    min-height: 150px;
    border-radius: 5px;
}
.tl {
    display: flex;
}
.Classes {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-left: 5px;
}
input:checked ~ ul{
    display: block;
    
}
.check{
    display: none;
}
input:checked ~ ul li:hover{
    background-color: white;
    color: black;
}
.dropdown-button a {
    padding: 6px 9px;
}
li{
    max-width: 33vw;
}
input[type=text]{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    height: 17px;
}
@media only screen and (max-width: 768px) {
    .tl{
        flex-direction: column;
    }
}


span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
